.myheader{
  text-align:center;
  background-color:pink;
  background: url(https://miro.medium.com/max/2592/1*1OzEq7vt0Iyz7lKJXBhG5w.jpeg);
  color:white;
}

.profile-pic{
  border-radius: 50%;
}

.carousel-item {
 height: 500px;
    text-align: center;
}


.item1 {
  background-color:red;
  /*height: 100px;*/
}

.item2 {
  background-color:yellow;
  /*height: 100px;*/
}

.item3 {
  background-color:blue;
  /*height: 100px;*/
}

